
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&amp;family=Roboto&amp;display=swap');

        body{
            width: 70vw;
            margin: auto;
            font-family: 'Open Sans', sans-serif;
        }

        section{
            margin-bottom: 2em;
        }
        code{
            padding:1em;
        }

        .video_icon{
            max-width: 2em;
        }
        h1,h2,h3,h4,h5,h6{
            font-family: 'Roboto', sans-serif;
        }
        .link-div{
            width:100%;
            text-align: right;
        }
        .hint-div{
            display:none
        }
        .section_instrcutions~ol~li{
            margin-bottom: 1em;
        }

        h2{
            font-size: 1.1em;
        }
        p{
            margin-bottom: 1em;
            margin-top: 0px;
        }
        .list-div{
            margin-bottom: 1em;
        }

        img{
            margin-top: 5px;
            max-width: 30%;
        }

        @media only screen and (max-width: 900px) {
            body {
                width: 90vw;
            }
            img{
                margin-top: 5px;
                max-width: 50%;
            }
          }

        @media only screen and (max-width: 600px) {
            body {
                width: 98vw;
            }
            img{
                margin-top: 5px;
                max-width: 70%;
            }
          }